/* font: import ================================================ */
@font-face {
  font-family: 'variableFont';
  src: url('./font/RobotoFlex.ttf') format('truetype');
}


/* Layout ================================================ */
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease-in-out;
  background-color: lightgray;
  /* background-image: url('./img/tiri_oracle1.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* text ================================================ */
#startBtn {
  background-color: black;
  color: white;
  height: 5%;
  width: 5%;
}

#mainText1 {
  display: none;
  position: fixed;
  top: 0;
  left: 1%;
  rotate: 0deg;
  font-family: 'variableFont';
  color: black;
  text-align: left;
  letter-spacing: 0;
  text-wrap: nowrap;
  font-size: clamp(65px, 12vw, 150px);
  line-height: 1.05;

	font-variation-settings: "opsz" 144, "wght" 500, "GRAD" 150, "wdth" 150, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  transition: rotate 1s ease-in-out, font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}


#mainText2 {
  display: none;
  position: fixed;
  bottom: 0;
  right: 1%;
  font-family: 'variableFont';
  color: gray;
  text-align: center;
  letter-spacing: 0;
  text-wrap: nowrap;
  font-size: clamp(35px, 8vw, 100px);
  line-height: 1.05;
  
	font-variation-settings: "opsz" 144, "wght" 500, "GRAD" 150, "wdth" 150, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  transition: font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}

#mainText3 {
  display: none;
  position: fixed;
  font-family: 'variableFont';
  color: white;
  text-align: center;
  letter-spacing: 0;
  font-size: clamp(35px, 8vw, 100px);
  line-height: 1.05;
  white-space: pre-line;
	font-variation-settings: "opsz" 144, "wght" 250, "GRAD" 150, "wdth" 100, "slnt" -25, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  transition: font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}

.particle {
    position: fixed;
    pointer-events: none;
    font-size: 45px;
    line-height: 1;
    animation: fly 15s ease-in-out;
    will-change: transform, opacity;
    font-family: 'variableFont';
    color: black;
    text-align: center;
  }

/* Image ================================================ */
